<div class="inner-aside">
    <!-- <img class="logo" src="/static/img/UltiTV_logo.png" alt="Logo UltiTV"> -->
    <h2>Ulti.TV</h2>
    <ul>
        <li><a href="/teams"><i class="fa fa-users nav-icon" aria-hidden="true"></i> Teams</a></li>
        <li><a href="/stats"><i class="fa fa-tasks nav-icon" aria-hidden="true"></i> Stats</a></li>
        <li><a href="/"><i class="fa fa-tachometer nav-icon" aria-hidden="true"></i> Dashboard</a></li>
        

        <!-- <li><a href="/games"><i class="fa fa-users nav-icon" aria-hidden="true"></i> Games</a></li> !!! Voor in de toekomst moet er een pagina komen met alle games waaruit je naar de dashboard of stats kan. !!! -->
    </ul>
</div>