<div class="inner-aside">
    <!-- <img class="logo" src="/static/img/UltiTV_logo.png" alt="Logo UltiTV"> -->
    <h2>Ulti.TV</h2>
    <ul>
        <li><a href="/game"><i class="fa fa-pencil-square-o nav-icon"></i> Game</a></li>
        <li><a href="/"><i class="fa fa-tasks nav-icon"></i> Dashboard</a></li>
    </ul>
</div>