<%- include('./partials/head') %>

<aside>
    <%- include('./partials/sidebar') %>
</aside>

<main>
    <%- include('./partials/mobileMessage') %>

    <div class="container">
        <section class="panel team-panel">
            <div class="search-container">
                <form>
                    <input class="search-team" type="text" placeholder="Search...">
                </form>
            </div>
            <div class="team-container">
                <section class="team-card">
                    <div class="inner-card">
                        <h2>Team naam</h2>
                        <a href="/teamInfo">info</a>
                    </div>
                </section>
            </div>
        </section>
    </div>
</main>

<%- include('./partials/foot') %>
